<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="max-w-1200 mx-auto">
        <section
            class="justify-center sm:justify-between flex p-6 mr-8 ml-8 max-w-1200  border-b border-border-color border-solid">
            <!-- Left -->
            <div class="hidden sm:block">
                <a class="navbar-brand" href="./index.html">
                    <img src="./assets/images/logo_chess_club_transparent.png" alt="web page logo"
                        class="h-8" />
                </a>
            </div>
            <div>
                <a href="" class="me-4 text-reset mr-6">
                    <i class="fab fa-facebook-f text-icons-color "></i>
                </a>
                <a href="" class="me-4 text-reset mr-6">
                    <i class="fab fa-twitter text-icons-color"></i>
                </a>
                <a href="" class="me-4 text-reset mr-6">
                    <i class="fab fa-google text-icons-color"></i>
                </a>
                <a href="" class="me-4 text-reset mr-6">
                    <i class="fab fa-instagram text-icons-color"></i>
                </a>
                <a href="" class="me-4 text-reset mr-6">
                    <i class="fab fa-linkedin text-icons-color"></i>
                </a>
                <a href="" class="me-4 text-reset mr-6">
                    <i class="fab fa-github text-icons-color"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-12 max-w-1200">
                <!-- Grid row -->
                <div class="text-center flex-col row mt-6 flex sm:text-left sm:flex-row">
                    <div class="w-full mb-6 mx-auto sm:w-1/4 px-3">
                        <!-- Content -->
                        <h6 class="uppercase text-icons-color mb-6 font-bold">
                            <i class="fas fa-chess-rook text-icons-color"></i> ChessUoc
                        </h6>
                        <p class="text-icons-color ">
                            Chess club with the purpose to teach people to play chess. You can join us and discover
                            more!
                        </p>
                    </div>
                    <div class="w-full mb-6 mx-auto sm:w-1/4 px-3">
                        <!-- Links -->
                        <h6 class="uppercase text-icons-color mb-6 font-bold">
                            Menu
                        </h6>
                        <p class="text-icons-color mb-4">
                            <a href="./index.html" class="">Home</a>
                        </p>
                        <p class="text-icons-color mb-4">
                            <a href="./membersTeam" class="">Members</a>
                        </p>
                    </div>
                    <div class="w-full mb-6 mx-auto sm:w-1/4 px-3 text-icons-color">
                        <!-- Links -->
                        <h6 class="uppercase mb-6 font-bold">Contact</h6>

                        <p class="text-icons-color mb-4"><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p class="text-icons-color mb-4">
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p class="text-icons-color mb-4"><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p class="text-icons-color mb-4"><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                        <p class="text-icons-color mb-4">
                            <a href="./contact.html" class="text-reset">Contact us</a>
                        </p>
                    </div>
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
    </div>
    <!-- Section: Social media -->
</footer>
<!-- Footer -->