<ul class="flex flex-wrap gap-4 justify-center mx-4">
    <li class="flex-100 lg:flex-[0_calc(33.3%_-_1rem)] sm:flex-[0_calc(50%_-_1rem)] rounded-md">
      <div class="card">
        <div class="p-4">
          <img src="./assets/images/miembro1.jpg" alt="Card image cap" class="rounded-md contrast-75 hover:contrast-100" />
        </div>
        <div class="flex items-center flex-col p-4">
          <h3 class="text-blueChess text-2xl mb-2 font-semibold">
            César Martos
          </h3>
          <p class="text-justify text-text-gray mb-4 text-xl font-sans">
            Some quick example text to build on the card
            title and make up the bulk of the card's
            content. Some quick example text to build on
            the card title and make up the bulk of the
            card's content.
          </p>
          <span class="font-semibold text-xl">
            ELO:
          </span>
        </div>
      </div>
    </li>
    <li class="flex-100 lg:flex-[0_calc(33.3%_-_1rem)] sm:flex-[0_calc(50%_-_1rem)] rounded-md">
      <div class="card">
        <div class="p-4">
          <img src="./assets/images/miembro2.jpg" alt="Card image cap" class="rounded-md contrast-75 hover:contrast-100" />
        </div>
        <div class="flex items-center flex-col p-4">
          <h3 class="text-blueChess text-2xl mb-2 font-semibold">
            Enrique Gil
          </h3>
          <p class="text-justify text-text-gray mb-4 text-xl">
            Some quick example text to build on the card
            title and make up the bulk of the card's
            content. Some quick example text to build on
            the card title and make up the bulk of the
            card's content.
          </p>
          <span class="font-semibold text-xl">
            ELO:
          </span>
        </div>
      </div>
    </li>
    <li class="flex-100 lg:flex-[0_calc(33.3%_-_1rem)] sm:flex-[0_calc(50%_-_1rem)] rounded-md">
      <div class="card">
        <div class="p-4">
          <img src="./assets/images/miembro3.jpg" alt="Card image cap" class="rounded-md contrast-75 hover:contrast-100" />
        </div>
        <div class="flex items-center flex-col p-4">
          <h3 class="text-blueChess text-2xl mb-2 font-semibold">
            Jesús Díaz
          </h3>
          <p class="text-justify text-text-gray mb-4 text-xl">
            Some quick example text to build on the card
            title and make up the bulk of the card's
            content. Some quick example text to build on
            the card title and make up the bulk of the
            card's content.
          </p>
          <span class="font-semibold text-xl">
            ELO:
          </span>
        </div>
      </div>
    </li>
    <li class="flex-100 lg:flex-[0_calc(33.3%_-_1rem)] sm:flex-[0_calc(50%_-_1rem)] rounded-md">
      <div class="card">
        <div class="p-4">
          <img src="./assets/images/miembro4.jpg" alt="Card image cap" class="rounded-md contrast-75 hover:contrast-100" />
        </div>
        <div class="flex items-center flex-col p-4">
          <h3 class="text-blueChess text-2xl mb-2 font-semibold">
            Raquel Mos
          </h3>
          <p class="text-justify text-text-gray mb-4 text-xl">
            Some quick example text to build on the card
            title and make up the bulk of the card's
            content. Some quick example text to build on
            the card title and make up the bulk of the
            card's content.
          </p>
          <span class="font-semibold text-xl">
            ELO:
          </span>
        </div>
      </div>
    </li>
    <li class="flex-100 lg:flex-[0_calc(33.3%_-_1rem)] sm:flex-[0_calc(50%_-_1rem)] rounded-md">
      <div class="card">
        <div class="p-4">
          <img src="./assets/images/miembro5.jpg" alt="Card image cap" class="rounded-md contrast-75 hover:contrast-100" />
        </div>
        <div class="flex items-center flex-col p-4">
          <h3 class="text-blueChess text-2xl mb-2 font-semibold">
            Maria Ripoll
          </h3>
          <p class="text-justify text-text-gray mb-4 text-xl">
            Some quick example text to build on the card
            title and make up the bulk of the card's
            content. Some quick example text to build on
            the card title and make up the bulk of the
            card's content.
          </p>
          <span class="font-semibold text-xl">
            ELO:
          </span>
        </div>
      </div>
    </li>
    <li class="flex-100 lg:flex-[0_calc(33.3%_-_1rem)] sm:flex-[0_calc(50%_-_1rem)] rounded-md">
      <div class="card">
        <div class="p-4">
          <img src="./assets/images/miembro6.jpg" alt="Card image cap" class="rounded-md contrast-75 hover:contrast-100" />
        </div>
        <div class="flex items-center flex-col p-4">
          <h3 class="text-blueChess text-2xl mb-2 font-semibold">
            Ona Martínez
          </h3>
          <p class="text-justify text-text-gray mb-4 text-xl">
            Some quick example text to build on the card
            title and make up the bulk of the card's
            content. Some quick example text to build on
            the card title and make up the bulk of the
            card's content.
          </p>
          <span class="font-semibold text-xl">
            ELO:
          </span>
        </div>
      </div>
    </li>
  </ul>